# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/



# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
shorebird.yaml

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release


# google sheet 
/google_sheet.json
/firebase.json
/lib/firebase_options.dart
/android/app/google-services.json
/ios/Runner/GoogleService-Info.plist
/ios/ExportOptions.plist


/lib/firebase_options.dart



#fastlane
/ios/fastlane/.env
/ios/fastlane/store.json
/ios/fastlane/*.p8
/ios/fastlane/report.xml
/ios/Runner.app.dSYM.zip
/ios/Runner.ipa
/ios/vendor/bundle/
/android/fastlane/.env
/android/fastlane/play-service-account.json
/android/fastlane/report.xml
/android/vendor/bundle/
/.vscode/tasks.json
/.vscode/settings.json




!/.gitignore
/env/dev/*
!/env/dev/.gitkeep
!/env/dev/fastlane/
/env/dev/fastlane/*
!/env/dev/fastlane/.gitkeep
/env/prod/*
!/env/prod/.gitkeep
!/env/prod/fastlane/
/env/prod/fastlane/*
!/env/prod/fastlane/.gitkeep
/lib/config.dart
